.App {
  text-align: center;
  background-color: #2e002c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(240, 236, 236, 0.18);
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgba(225, 0, 255, 0.384);
  position: absolute;
}

.c1 {
  top: 40%;
  left: 30%;
}

.c2 {
  bottom: 2%;
  right: 28%;
}

button {
  background-color: rgba(225, 0, 255, 0.384);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  margin: 20px;
}

button:hover {
  background-color: rgba(225, 0, 255, 0.384);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  margin: 20px;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

h1 {
  margin-bottom: 10px;
}

.divider {
  width: 30%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.menu-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(240, 236, 236, 0.18);
  padding: 10px;
  z-index: 1;
}

.menu-item img {
  height: 150px;
  min-width: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.973);
  margin-right: 20px;
}

.menu-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.menu-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  text-transform: capitalize;
}

.menu-details p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
