.App {
  text-align: center;
  background-color: #2e002c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(240, 236, 236, 0.18);
  min-height: 20vh;
  width: 50%;
  z-index: 1;
  padding-bottom: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgba(225, 0, 255, 0.384);
  position: absolute;
}

.c1 {
  top: 2%;
  left: 30%;
}

.c2 {
  bottom: 2%;
  right: 28%;
}

h1,
h2,
h4,
p {
  color: #fff;
}

button {
  background-color: rgba(225, 0, 255, 0.384);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 10px 30px;
  margin: 20px;
  cursor: pointer;
}

.row {
  background-color: rgba(225, 0, 255, 0.384);
  display: block;
  height: 10px;
  width: 30%;
  border-radius: 100px;
  margin-bottom: 30px;
}

.card {
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 10px;
  min-height: 20vh;
  width: 80%;
  z-index: 1;
  margin: 10px;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.name-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.price {
  background-color: rgba(225, 0, 255, 0.384);
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.price h4 {
  margin: 0px;
}
.card p {
  text-align: start;
  padding: 0px 30px;
}

.card p a{
  background-color: transparent;
  border: none;
  color: rgb(233, 118, 248);
  cursor: pointer;
}